<settings>
    <!-- Override the steps target used by the depth ring in steps mode (0 = device goal) -->
    <setting propertyKey="@Properties.StepGoalOverride" title="@Strings.StepGoalTitle" prompt="@Strings.StepGoalPrompt">
        <settingConfig type="numeric" min="0" max="100000" />
    </setting>

    <!-- Toggle the compass HEADING field (battery-heavy, off by default) -->
    <setting propertyKey="@Properties.EnableCompass" title="@Strings.EnableCompassTitle" prompt="@Strings.EnableCompassPrompt">
        <settingConfig type="boolean" />
    </setting>
</settings>
